.button {
  padding: 0.8rem;
  width: 100%;
  color: white;
  background-color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.button:hover {
  background-color: #1a73e8;
  border: 1px solid #1a73e8;
}

.button.button--outlined {
  background-color: transparent;
  border: 1px solid #1a73e8;
  color: #1a73e8;
}

.button.button--outlined:hover {
  background-color: #1a73e8;
  color: white;
}
